/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJjdXN0b20tZWRpdG9yLXN0eWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbXX0= */

.img-cover-main img{
	margin:auto;
	max-width: 100%;
	max-height: 700px !important;
	object-fit: cover;
	z-index:1;
}

.img-cover-single img{
	margin:auto;
	max-width: 100%;
	max-height: 300px !important;
	object-fit: cover;
	z-index:1;
}

@media screen and (min-width: 1920px) {
	.img-cover-main img{
		margin:auto;
		width: 100%;
		z-index:1;
	}

	.img-cover-single img{
		margin:auto;
		max-width: 100%;
		max-height: 300px !important;
		z-index:1;
	}
}

#wrapper-hero{
	max-height: 700px !important;
	position: relative;
	resize: vertical;
}

.overlay-darker{
	position: absolute;
	top: 0%;
	width:100%;
	height:100%;
	background-color:rgba(5,5,5,0.32);
	z-index:2;
}

.hero-title{
  position: absolute;
  top: 60%;
  left: 5%;
  right: 20px;
  padding: 20px;
  transform: translateY(-50%);
  resize: vertical;
  color:white;
  z-index:99;
}

@media screen and (max-width: 500px) {
	.hero-title .name{
		font-size:1.5em;
	}

	.hero-title .description{
		display:none;
	}
}

@media screen and  (max-width: 700px) {
	.hero-title .name{
		font-size:1.75em;
	}

	.hero-title .description{
		font-size:1em;
	}
}


.fancy-title {
 position:relative;
 margin-bottom:30px
}
.fancy-title h1,
.fancy-title h2,
.fancy-title h3,
.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
 position:relative;
 display:inline-block;
 background-color:#FFF;
 padding-right:15px;
 margin-bottom:0
}
.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
 padding-right:10px
}
.fancy-title.title-border-color:before,
.fancy-title.title-border:before,
.fancy-title.title-double-border:before {
 content:'';
 position:absolute;
 width:100%;
 height:0;
 border-top:3px double #B5B5B5;
 left:auto;
 top:46%;
 right:0
}
.fancy-title.title-border:before {
 top:49%;
 border-top:1px solid #B5B5B5
}
.fancy-title.title-border-color:before {
 top:49%;
 border-top:1px solid #B5B5B5;
 opacity:.6
}

.carousel-item{
	background-color:rgba(5,5,5,0.32);
}
	.carousel-item img{
		width: 100%;
		height:500px;
		margin:auto;
		object-fit: cover;
	}
	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236D8BFF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	}

	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236D8BFF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	}

img.custom-logo{
	max-height:60px;
}

@media screen and (max-width: 576px) {
	img.custom-logo{
		max-height:50px;
	}
}

@media screen and  (max-width: 768px) {
	img.custom-logo{
		max-height:60px;
	}
}

@media screen and  (max-width: 992px) {
	img.custom-logo{
		max-height:60px;
	}
}

@media screen and  (max-width: 1200px) {
	img.custom-logo{
		max-height:60px;
	}
}

.top-bar{
	position:fixed;
	z-index:100;
	background-color:rgba(0,0,0,0.72);
	width:100%;
}

.nav-link{
	color:#fff !important;
}

.nav-link:hover{
	color:#00A1FF !important;
}

.site-footer{
	color:#fff;
}

.site-footer a{
	color:#fff !important;
	transition: ease-out 0.2s;
}

/*
a.btn{
	color:#FFFFFF !important;
	transition: ease-out 0.2s;
}

a.btn:hover{
	color:#A2A2A2 !important;
	transition: ease-out 0.2s;
}
*/

a{
	color:#00A1FF ;
	transition: ease-out 0.2s;
}

a:hover{
	color:#FF8C00 ;
	text-decoration:none;
	transition: ease-out 0.2s;
}

/* 404 styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 75vh;
  background: #f6f6f6;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 110px 40px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
}

.notfound .notfound-404 h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 165px;
  font-weight: 700;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
}

.notfound .notfound-404 h1>span {
  color: #00b7ff;
}

.notfound h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #151515;
  margin-top: 0px;
  margin-bottom: 25px;
}

.notfound .notfound-search {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: auto;
}

.notfound .notfound-search>input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 50px;
  padding: 3px 65px 3px 30px;
  color: #151515;
  font-size: 16px;
  background: transparent;
  border: 2px solid #c5c5c5;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound .notfound-search>input:focus {
  border-color: #00b7ff;
}

.notfound .notfound-search>button {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.notfound .notfound-search>button>span {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  margin-left: -3px;
}

.notfound .notfound-search>button>span:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  border: 4px solid #c5c5c5;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-search>button>span:before {
  position: absolute;
  content: '';
  width: 4px;
  height: 10px;
  left: 7px;
  top: 17px;
  border-radius: 2px;
  background: #c5c5c5;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound .notfound-search>button:hover>span:after {
  border-color: #00b7ff;
}

.notfound .notfound-search>button:hover>span:before {
  background-color: #00b7ff;
}

@media only screen and (max-width: 767px) {
  .notfound h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 141px;
  }
}
/* END OF 404 STYLES */
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}
